@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer base {
  .h1 {
    @apply text-[30px] lg:text-[48px] font-primary font-bold mb-2;
  }
  .h2 {
    @apply text-[26px] lg:text-[32px] font-primary mb-2;
  }
  .h3 {
    @apply text-[24px] lg:text-[28px] font-secondary  mb-2;
  }
  .section {
    @apply w-[90vw] mx-auto;
  }
  .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base font-secondary font-semibold bg-accent hover:bg-[#921D1D] ;
  }
}
