@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
}

li:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  transition: all;
}

@layer base {
  .h1 {
    @apply text-[40px] md:text-[60px] lg:text-[80px] font-primary font-extrabold mb-2;
  }
  .h2 {
    @apply text-[26px] lg:text-[32px] font-primary font-semibold mb-2;
  }
  .h3 {
    @apply text-[24px] lg:text-[28px] font-secondary  mb-2;
  }
  .section {
    @apply w-screen mx-auto;
  }
  .btn {
    @apply h-[50px] bg-accent hover:bg-[#921D1D] w-52 rounded-full text-white transition;
  }
  .order-btn {
    @apply h-[50px] border border-secondary hover:bg-secondary hover:text-amber-950 w-52 rounded-full text-secondary transition;
  }
}
